<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nudgerewriten">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nudge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".activities.CropTimeLineActivity"></activity>
        <activity android:name=".activities.ScheduleCropActivity" />
        <activity
            android:name=".activities.FarmerProfileActivity"
            android:theme="@style/FarmerStyle" />
        <activity android:name=".activities.NewVisitActivity" />
        <activity android:name=".activities.OrdersActivity" />
        <activity android:name=".activities.VisitsActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>